# DICTIONARY

- we already seen data types
- string
- list
- tuple
- set
- dictionary
- int float bool complex
- eval is not a data type
- range
- bytes

In [ ]:
# By using lambda list reduce

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

$ZIP$

In [4]:
names=['ramesh','suresh','satish']
age=[20,25,30]

for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 25
satish 30

In [7]:
list(zip(names,age))

[('ramesh', 20), ('suresh', 25), ('satish', 30)]

In [ ]:
dict1={<key>:<value>}
names=['ramesh','suresh','satish']
age=[20,25,30]
'ramesh' is the key ====== 20 its related value 
dict1={'ramesh':20,'suresh':25,'satish':30}             # dictionary

In [8]:
dict1={'ramesh':20,'suresh':25,'satish':30}
type(dict1)

dict

In [ ]:
#if the list are of different length?
#if both lists are different length
#zip will not work

- REPRESENTATIONS

- TYPE

- LEN

- max

- min

- SORTED

- REVERSED

- in 

- for loop using in

- index

- mutable

- for loop using index

- mutable 

- concatination

- slice

- methods

In [10]:
dict1={30:'ramesh','suresh':25,'satish':30}
print(dict1)

{30: 'ramesh', 'suresh': 25, 'satish': 30}

In [11]:
dict1={(1,2):'ramesh','suresh':25,'satish':30}
print(dict1)

{(1, 2): 'ramesh', 'suresh': 25, 'satish': 30}

In [13]:
dict1={(1,2):'ramesh','suresh':25,'1,2':(1,2)}
print(dict1)

{(1, 2): 'ramesh', 'suresh': 25, '1,2': (1, 2)}

In [14]:
dict1={(1,2):'ramesh','suresh':25.0,'1,2':(1,2)}
print(dict1)

{(1, 2): 'ramesh', 'suresh': 25.0, '1,2': (1, 2)}

In [15]:
dict1={(1,2):True,'suresh':25.0,'1,2':(1,2)}
print(dict1)

{(1, 2): True, 'suresh': 25.0, '1,2': (1, 2)}

In [16]:
dict1={True:True,'suresh':25.0,'1,2':(1,2)}
print(dict1)

{True: True, 'suresh': 25.0, '1,2': (1, 2)}

In [17]:
dict1={{1,2,3}:True,'suresh':25.0,'1,2':(1,2)}
print(dict1)

TypeError: unhashable type: 'set'

In [19]:
d8={'jay':30,'jay':30}
d8

{'jay': 30}

In [20]:
d9={'jay':45,'jay':30}
d9

{'jay': 30}

In [ ]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
d2={'Manish': '25', 'Shubam': '20', 'Govindh': '15'}
d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'}
d4={25:50}
d5={'Fruites':['Apple', 'Cherry']}
d6={['Apple', 'Cherry']: 'Fruites'}
d7={('Apple', 'Cherry'): 'Fruites'}
d8={'Ajay':25, 'Ajay':30}
d9={25:'Ajay', 30: 'Ajay'}
d10={'Fruites':{'mango':25}}

- **Keys are important**
- keys have only latest value
- no duplicate keys 
- keys should be only one
- values can be duplicate
- which means different keys can have same value
- list can not be a key, because lists are mutable
- tuple can be a key, because tuple are immutable

In [ ]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
d2={'Manish': '25', 'Shubam': '20', 'Govindh': '15'}
d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'}
d4={'Manish': 25, 'Shubam': '20', 'Govindh':15}
d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'}
d6={'Manish': 25, 'Shubam': 20, 'Govindh':20}
d7={20:'Manish',20:'Subham',20:'Govindh'}

In [21]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
max(d1)

'Shubam'

In [22]:
d2={'Manish': '25', 'Shubam': '20', 'Govindh': '15'}
min(d2)

'Govindh'

In [ ]:
d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'}

In [2]:
d7={20:'Manish',20:'Subham',20:'Govindh'}
max(d7)

20

In [3]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
len(d1)

3

In [4]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
min(d1)

'Govindh'

In [7]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
sorted(d1)

['Govindh', 'Manish', 'Shubam']

In [8]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
reversed(d1)

In [9]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
for i in d1:
    print(i)

Manish
Shubam
Govindh

In [10]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
list(reversed(d1))

['Govindh', 'Shubam', 'Manish']

**Reversed**
- you might have think dictionary will reverse
- when you apply reversed, then you got to know
- only keys will come in reverse

In [11]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
list(sorted(d1))

['Govindh', 'Manish', 'Shubam']

In [15]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
list(sorted(d1,reverse=True))

['Shubam', 'Manish', 'Govindh']

In [ ]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}

In [16]:
25 in d1

False

In [17]:
'Manish'in d1

True

In [19]:
#**Index**
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
# if you want retrive the values
# python will never give "Manish":25
d1=[0]

In [22]:
d1['Manish']

TypeError: list indices must be integers or slices, not str

In [1]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
# dictionary is a key: value pair
# we can not use index number directly 
# whenever you want to call a value, we will use key
d1['Manish']

25

In [8]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam has age 20
Govindh has age 15

In [11]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age of {j}")

Vignesh has age of 20
Mohit has age of 25
Nagesh has age of 30

In [13]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam has age 20
Govindh has age 15

**Dictionary to list**

In [59]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
keys,values=[],[]
for i in d1:
    #print(i,d1[i])
    keys.append(i)
    values.append(d1[i])
values

[25, 20, 15]

In [ ]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**create a empty list**

In [18]:
l=[]
l.append(20)
l

[20]

**Empty string**

In [57]:
s=''
s=s+'a'
s

'a'

**empty dictionary**

In [21]:
d={}
d['chandu']=20
d

{'chandu': 20}

In [22]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    d[i]=j
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

**string to list**

In [24]:
s='hello hai hai how  how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**word frequency**

In [ ]:
# i/p s='hello hai hai how  how are you'
# o/p {'hello':1,'hai':2,'how':2,'are':1,'you':2}\
# idea
# step-1: split the string: list of words
# step-2: iterate using the list 
#         each word will come apply the count
#         word key, count became value 
# step-3: Make a dictionary

In [34]:
s='hello hai hai how  how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

# Mutable Immutable
- Change the elements using index
- But in dictionary there is no index
- In dictionary we will change the value based on key only
- Instead of using the index, change the values using key
- if it is change it is Mutable
- if it is not change it is immutable

In [35]:
d1={'Manish': 25, 'Shubam': 20, 'Govindh':15}
d1['Shubam']=22
d1

{'Manish': 25, 'Shubam': 22, 'Govindh': 15}

- list and dictioanry are mutable
- tuple and strings are immutable
- difference between list and tuple

In [37]:
d={'Fruits':['Mango']}
d['Fruits'][0]

'Mango'

In [44]:
d={'Fruits':[{'Apple':['Kashmir']}]}
d['Fruits'][0]['Apple'][0]

'Kashmir'

In [50]:
d={'Fruits':[{'Apple':{'Kashmir':['India']}}]}
d['Fruits'][0]['Apple']['Kashmir'][0]

'India'

In [56]:
d={'Fruits':{'Banginapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Banginapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

In [65]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    d[j]=i
print(d)
d['25']=daddy
d

{20: 'Vignesh', 25: 'Mohit', 30: 'Nagesh'}

NameError: name 'daddy' is not defined

In [74]:
string1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

#{'Data science':68,'science':115}
sp=string1.split()
l1=[]
d1={}
for i in range(len(sp)):
    if sp[i] not in ('a','an','is','the'):
        l1.append(sp[i])
for i in range(len(l1)):
    d1[l1[i]]=ord(l1[i][0])
print(d1,end=" ")

{'Data': 68, 'science': 115, 'interdisciplinary': 105, 'academic': 97, 'field': 102, 'that': 116, 'uses': 117, 'statistics,': 115, 'scientific': 115, 'computing,': 99, 'methods,': 109, 'processes,': 112, 'visualization,': 118, 'algorithms': 97, 'and': 97, 'systems': 115, 'to': 116, 'extract': 101, 'or': 111, 'extrapolate': 101, 'knowledge': 107, 'insights': 105, 'from': 102, 'potentially': 112, 'noisy,': 110, 'structured,': 115, 'unstructured': 117, 'data.': 100, 'also': 97, 'integrates': 105, 'domain': 100, 'underlying': 117, 'applicatin.Data': 97, 'multifaceted': 109, 'can': 99, 'be': 98, 'described': 100, 'as': 97, 'science,': 115, 'research': 114, 'paradigm,': 112, 'method,': 109, 'discipline,': 100, 'workflow,': 119, 'profession.': 112}

**Dictionary methods**

In [75]:
dir('') # string methods
dir([]) # list methods
dir(()) # tuple methods
dir({}) # set methods

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

In [79]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.items()

dict_items([('Vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [80]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.keys()

dict_keys(['Vignesh', 'Mohit', 'Nagesh'])

In [81]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.values()

dict_values([20, 25, 30])

In [106]:
# We already learn how to make a list from dictioanry
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

- Dictioanry keys will give dictionary keys items in a list
- It looks like a list, but it is not a list
- which means we can not apply list methods
- So we need to convert into list type,by using list type casting

In [83]:
d.keys()

dict_keys(['Vignesh', 'Mohit', 'Nagesh'])

In [84]:
list(d.keys())

['Vignesh', 'Mohit', 'Nagesh']

In [85]:
type(d.keys())

dict_keys

In [86]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
list(d.keys()),list(d.values())

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [87]:
list[d.keys()]

list[dict_keys(['Vignesh', 'Mohit', 'Nagesh'])]

In [89]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
list(d.keys())[0]

'Vignesh'

In [91]:
#list[d.keys()]
for i in list[d.keys()]:
    print(i)

*list[dict_keys(['Vignesh', 'Mohit', 'Nagesh'])]

In [93]:
type(list[d.keys()])

types.GenericAlias

# Method-1

In [94]:
# We already learn how to make a list from dictioanry
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [95]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys=list(d.keys())
values=list(d.values())

In [96]:
d.items()

dict_items([('Vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [97]:
for i in d.items():
    print(i)

('Vignesh', 20)
('Mohit', 25)
('Nagesh', 30)

In [103]:
a=10,20
a,b=10,20
#a,b=10

# method-3

In [102]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [104]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
# Assignment
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.clear()
d

{}

In [3]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.copy()

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

In [7]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.fromkeys('Vignesh',2)

{'V': 2, 'i': 2, 'g': 2, 'n': 2, 'e': 2, 's': 2, 'h': 2}

In [9]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.get('Mohit')

25

In [10]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.items()

dict_items([('Vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [15]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
print(d.pop('Nagesh'))
d

30

{'Vignesh': 20, 'Mohit': 25}

In [17]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
print(d.popitem())
d

('Nagesh', 30)

{'Vignesh': 20, 'Mohit': 25}

In [25]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
print(d.setdefault('Mohit'))
print(d.popitem())
d

25
('Nagesh', 30)

{'Vignesh': 20, 'Mohit': 25}

In [35]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d.update(['N2'])
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30, 'N': '2'}